._linktxt{
    color: var(--bs-body-color) !important;
    text-decoration: none !important;
}

._pimg{
    width: 400px !important;
    margin: auto !important;
}

._brdr{
    border: none !important;
}

._cptxt{
    font-size: 30px;
}